{{ partial "global/head" . }}
{{ partial "global/navbar" . }}
<div class="uk-light uk-background-cover uk-height-large uk-panel uk-flex uk-flex-middle uk-text-center" style="background: linear-gradient(rgba(34,34,34,0.5),rgba(34,34,34,0.5)),url(/uploads/banner1.jpg) no-repeat center;background-size:cover">
        <div class="uk-container uk-flex uk-flex-middle uk-flex-column">
            <div class="uk-width-1-1">
                <h1 class="uk-h1 uk-text-uppercase uk-text-bold">{{ .Title }}</h1>
                {{ if .Params.body }}
                <div>
                    <p class="uk-white">{{ .Params.body }}</p>
                </div>
                {{ end }}
            </div>
        </div>
</div>
<main>
{{ block "main" . }}

{{ end }}
</main>
{{ partial "global/footer" . }}