{{ define "main" }}
<div class="uk-section">
    <div class="uk-container">
        <div uk-grid>
            <div class="uk-width-1-2@s">
                <div>
                    <div>
                        {{ .Content }}
                    </div>
                    <a href="/contact" class="uk-button uk-button-primary">Get in touch</a>
                </div>
            </div>
            <div class="uk-width-1-2@s">
                <div>
                    <img src="/uploads/bowl.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}