<div class="uk-section uk-section-small" style="background:linear-gradient(rgb(125, 45, 53, 0.9),rgb(125, 45, 53, 0.9)), url(uploads/pattern2.jpg) no-repeat center;background-size:cover">
    <div class="uk-container">
        <div class="uk-flex uk-flex-middle" uk-grid>
            <div class="uk-width-1-2 uk-white">
                <h2 class="uk-white uk-text-bold uk-margin-remove">Dine with us</h2>
                <p class="uk-margin-remove">Providing great food and great service</p>
            </div>
            <div class="uk-width-1-2 uk-text-right">
                <a href="/contact" class="uk-button uk-button-secondary">Contact us</a>
            </div>
        </div>
    </div>
</div>