{{ partial "global/cta" . }}
<footer>
    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-width-1-1 uk-text-center">
                    <img src="uploads/herologo.png" alt="">
                </div>
            </div>
            <div class="uk-width-1-1 uk-margin-medium">
                <ul class="uk-list uk-text-center">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.footer }}
                    <li style="display:inline-block" class="uk-padding-small"><a href="{{ .URL | absURL }}" title="{{ .Title }}" class="uk-white">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
            <div class="uk-child-width-expand@s uk-grid-large uk-text-center" uk-grid>
                <div>
                    <a href="" class="uk-white">2191 S Harbor Blvd., Anaheim, CA 92802</a>
                </div>
                <div>
                    <a href="tel:{{ .Site.Data.profile.contact_information.phone }}" class="uk-white"><span href="#" uk-icon="icon: phone" class="uk-margin-small-right"></span><span class="uk-text-middle">{{ .Site.Data.profile.contact_information.phone }}</span></a>
                </div>
                <div>
                    <a href="mailto:{{ .Site.Data.profile.contact_information.email }}" class="uk-white"><span href="#" uk-icon="icon: mail" class="uk-margin-small-right"></span><span class="uk-text-middle">{{ .Site.Data.profile.contact_information.email }}</span></a>
                </div>
            </div>
            <div class="uk-width-1-1 uk-text-center uk-margin-medium-top">
                {{ if .Site.Data.profile.social_media.instagram }}<a href="" class="uk-icon-button uk-margin-small-right" uk-icon="instagram"></a>{{ end }}
                {{ if .Site.Data.profile.social_media.facebook }}<a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>{{ end }}
                {{ if .Site.Data.profile.social_media.pinterest }}<a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="pinterest"></a>{{ end }}
                {{ if .Site.Data.profile.social_media.twitter }}<a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="twitter"></a>{{ end }}
            </div>
        </div>
        <div class="uk-container uk-margin-medium-top">
                <hr>
        </div>
    </div>
<div class="footer-credit">
    <div class="uk-width-1-1 uk-text-center">
        <p class="uk-light uk-text-small">&copy; Copyright {{ dateFormat "2006" now }}, {{ .Site.Data.profile.company_name }}  &middot; <a href="https://hungryram.com" target="_blank">Website Developed by Hungry Ram</a></p>
        <ul class="hr-legals uk-margin-remove uk-padding-small">
            {{ range where $.Site.Pages.ByWeight "Type" "legal" }}
            <li class="uk-light uk-text-small"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
          </ul>
    </div>
</div>
</div>
</footer>
</body>
</html>