<div class="uk-visible@s" uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky uk-dark; cls-inactive: uk-navbar-transparent; top: 200" style="background:#fff;">
    <div class="top-navbar" style="background:#000000;padding-top:5px;padding-bottom:5px;">
        <nav class="uk-container uk-container-large">
            <div class="uk-text-center" uk-grid>
                <div class="uk-width-auto">
                    <div>
                        <a href="mailto:{{ .Site.Data.profile.contact_information.email }}" class="uk-margin-medium-right uk-white uk-text-small"><span href="#" uk-icon="icon: mail" class="uk-margin-small-right"></span><span class="uk-text-middle">{{ .Site.Data.profile.contact_information.email }}</span></a>
                        <a href="mailto:{{ .Site.Data.profile.contact_information.email }}" class="uk-white uk-text-small"><span href="#" uk-icon="icon: receiver" class="uk-margin-small-right uk-white"></span><span class="uk-text-middle">{{ .Site.Data.profile.contact_information.phone }}</span></a>
                    </div>
                </div>
                <div class="uk-width-expand uk-text-right">
                    <div>
                        {{ if .Site.Data.profile.social_media.instagram }}<a href="" class="uk-margin-small-right" uk-icon="icon: instagram; ratio:1"></a>{{ end }}
                        {{ if .Site.Data.profile.social_media.facebook }}<a href="" class=" uk-margin-small-right" uk-icon="facebook"></a>{{ end }}
                        {{ if .Site.Data.profile.social_media.pinterest }}<a href="" class=" uk-margin-small-right" uk-icon="pinterest"></a>{{ end }}
                        {{ if .Site.Data.profile.social_media.twitter }}<a href="" class=" uk-margin-small-right" uk-icon="twitter"></a>{{ end }}
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <nav class="uk-container uk-container-large" style="padding-top:5px;padding-bottom:5px;">
        <div class="uk-container uk-container-expand">
            <div uk-navbar>
                <div class="uk-navbar-left">
                    <a href="{{ .Site.BaseURL }}"><h3 class="uk-text-bold uk-margin-remove">
                        <img src="uploads/logo.png" alt="">
                    </a>

                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li><a href="/" class="uk-black">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="uk-navbar-item">
                    <a href="" class="uk-button uk-button-primary uk-text-bold">Reach Us</a>
                </div>

            </div>
        </div>
    </nav>
</div>


{{/*  MOBILE MENU  */}}
<div uk-sticky="animation: uk-animation-slide-top-medium; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-dark; top: 400">
    <nav class="uk-navbar uk-navbar-container uk-hidden@s uk-padding-small uk-box-shadow-small">
        <div class="uk-navbar-left">
            <a href="{{ .Site.BaseURL }}"><h4 class="uk-text-bold uk-margin-remove"><span class="uk-dim">Landscaping <span class="accent">Tecpoyotl Inc.</span></span></h4></a>
        </div>
        <div class="uk-navbar-right">
            <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#mobile-menu-slide" uk-toggle></a>
        </div>
    </nav>
    </div>
    <div id="mobile-menu-slide" uk-offcanvas>
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>