<script type="application/ld+json"> 
    { 
    "@context" : "http://schema.org",
    "@type" : "Restaurant", 
    "address" : {
    "@type": "PostalAddress",
    "addressLocality": "Walnut", 
    "addressRegion": "CA", 
    "postalCode": "91789", 
    "streetAddress": "21090 Golden Springs Drive" }, 
    "name":"Pho Ha Plus Diamond Bar",
    "image":"https://www.phohaplus.com/uploads/logo.png",
    "url":"https://phohaplus.com/",
    "logo": "https://www.phohaplus.com/uploads/logo.png",
      "sameAs": [
        "https://www.yelp.com/biz/pho-ha-plus-diamond-bar-2"
          ],
    "email":"phohaplusdiamondbar@gmail.com",
    "telephone":"9094443388",
    "servesCuisine": ["Vietnamese"],
    "menu":"http://order.blogicsystems.com/client/store/2020265/detail/2020265"
    } 
</script>