{{ partial "global/head" . }}
<!-- {{ partial "home/hero2" . }}
{{ partial "home/intro" . }}
{{ partial "home/banner" . }} -->

<div style="height:100vh;display:flex;align-items: center;justify-content: center;background:#222222;color:#fff">
    <div class="uk-section">
        <div class="uk-container uk-text-center">
            <h1 style="color:#fff;font-weight:800">Website on Hold</h1>
            <p>Website may be on hold due to maintenance or overdue invoices.</p>
            <p>If you are the website owner, please contact <a href="mailto:support@hungryram.com">support@hungryram.com</a></p>
            <h3 style="color:#fff;font-weight:800">Pho Ha Plus Contact Information</h3>
            <a href="tel:(909) 444-3388">(909) 444-3388</a><br/>
            <a href="mailto:phohaplusdiamondbar@gmail.com">phohaplusdiamondbar@gmail.com</a>
        </div>
    </div>
</div>
</body>
</html>
<!-- {{ partial "global/footer" . }} -->