<div class="uk-section">
    <div class="uk-container uk-container-expand">
        <div class="uk-height-large uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-flex-column" style="padding:10px;background:url(uploads/banner1.jpg) no-repeat center">
            <div class="uk-width-1-2@s uk-margin-medium-bottom uk-padding" style="background:#fff;">
                <div class="uk-text-center uk-dark">
                    <h3 class="uk-text-uppercase">Pho Ha Plus</h3>
                    <h1 class="uk-text-uppercase uk-margin-remove uk-text-bold">Quality Food and Service</h1>
                    <hr style="width: 50px;margin:20px auto;border-top: 5px solid #000">
                    <p>Serving the best Vietnamese cuisine. Enjoy quality food and dining experience at our Diamond Bar location</p>
                    <div class="uk-margin uk-text-center">
                        <a href="http://order.blogicsystems.com/client/store/2020265/detail/2020265" target="_blank" class="uk-button uk-button-primary">View Menu</a>
                    </div>
                </div>
            </div>      
        </div>
    </div>
</div>