<div class="uk-section">
    <div class="uk-container uk-container-expand">
        <div uk-height-viewport="offset-bottom: 40" class="uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-flex-column" style="padding:10px;background:url(uploads/pho1.jpg) no-repeat center;background-size:cover">
            <div class="uk-width-1-2@s" style="background:#fff;padding: 15px;">
                <div style="border: 1px dotted #7d2d35;padding:10px;">
                    <div class="uk-text-center uk-dark">
                        <h3 class="uk-text-uppercase">Pho Ha Plus</h3>
                        <h1 class="uk-text-uppercase uk-margin-remove uk-text-bold">Quality Food and Service</h1>
                        <hr style="width: 50px;margin:20px auto;border-top: 5px solid #000">
                        <p>Serving the best Vietnamese cuisine. Enjoy quality food and dining experience at our Diamond Bar location</p>
                        <div class="uk-margin uk-text-center">
                            <a href="https://order.blogicsystems.com/client/store/2020265/detail/2020265" target="_blank" class="uk-button uk-button-primary">View Menu</a>
                        </div>
                    </div>
                </div>
            </div>      
        </div>
    </div>
</div>