<div class="uk-section">
    <div class="uk-container uk-container-expand">
        <div class="uk-height-large uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light uk-flex-column" style="background:linear-gradient(rgba(34,34,34,0.3),rgba(34,34,34,0.3)),url(uploads/banner1.jpg) no-repeat center">
            <div class="uk-width-1-2 uk-margin-medium-bottom">
                <div class="uk-text-center uk-white">
                    <h3 class="uk-text-uppercase">Vietnamese Restaurant</h3>
                    <h1 class="uk-text-uppercase uk-margin-remove uk-text-bold">Pho Ha Plus Diamond Bar</h1>
                    <hr style="width: 50px;margin:20px auto;border-top: 5px solid #fff">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidition ullamco laboris nisi ut aliquip ex ea commodo</p>
                </div>
                <div class="uk-overlay-background uk-position-cover"></div>
            </div>      
        </div>
    </div>
</div>