{{ partial "global/navbar" . }}
<div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: push">
    <ul class="uk-slideshow-items hero-slide" uk-height-viewport="offset-bottom:10">
        <li>
            <img src="uploads/pho1.jpg" alt="" uk-cover>
            <div class="uk-position-center uk-position-small uk-text-center uk-light">
                <h2 class="uk-margin-remove">Welcome to</h2>
                <img src="uploads/herologo.png" alt="">
            </div>
        </li>
        <li>
            <img src="uploads/banner.jpg" alt="" uk-cover>
            <div class="uk-position-center uk-position-small uk-text-center uk-light">
                <h2 class="uk-margin-remove">Welcome to</h2>
                <img src="uploads/herologo.png" alt="">
            </div>
        </li>
    </ul>

    <div class="uk-light">
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </div>

</div>