{{ define "main" }}
<div class="uk-section">
    <div class="uk-container">
        <div uk-grid>
            <div class="uk-width-1-2@s">
                <h2 class="uk-text-bold">Get in touch</h2>
                <p>{{ .Params.body }}</p>
                <ul class="uk-list primary-svg">
                    <li><a href="mailto:{{ .Site.Data.profile.contact_information.email }}" style="color: #222"><span href="#" uk-icon="icon: mail" class="uk-margin-small-right"></span><span class="uk-text-middle">{{ .Site.Data.profile.contact_information.email }}</span></a></li>
                    <li><a href="tel:{{ .Site.Data.profile.contact_information.phone }}" style="color: #222"><span href="#" uk-icon="icon: phone" class="uk-margin-small-right"></span><span class="uk-text-middle">{{ .Site.Data.profile.contact_information.phone }}</span></a></li>
                    <li><a href="https://goo.gl/maps/G2azL8cKfmm7t3gF6" target="_blank"><span href="#" uk-icon="icon: location" class="uk-margin-small-right"></span><span class="uk-text-middle uk-black">21090 Golden Springs Drive Walnut, CA 91789</span></a></li>
                  </ul>
                  <ul class="uk-list">
                      <li><strong>Hours</strong></li>
                      <li><strong>Mon</strong> 11:00 AM - 8:00 PM</li>
                      <li><strong>Tue</strong> 11:00 AM - 8:00 PM</li>
                      <li><strong>Wed</strong> 11:00 AM - 8:00 PM</li>
                      <li><strong>Thu</strong> 11:00 AM - 8:00 PM</li>
                      <li><strong>Fri</strong> 10:00 AM - 9:00 PM</li>
                      <li><strong>Sat</strong> 10:00 AM - 9:00 PM</li>
                      <li><strong>Sun</strong> 10:00 AM - 9:00 PM</li>
                  </ul>
                {{ if .Site.Data.profile.social_media.instagram }}<a href="" class="uk-icon-button uk-margin-small-right" uk-icon="instagram"></a>{{ end }}
                {{ if .Site.Data.profile.social_media.facebook }}<a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>{{ end }}
                {{ if .Site.Data.profile.social_media.pinterest }}<a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="pinterest"></a>{{ end }}
                {{ if .Site.Data.profile.social_media.twitter }}<a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="twitter"></a>{{ end }}
            </div>
            <div class="uk-width-1-2@s">
                <div>
                    <form action="/thank-you" class="uk-grid-small" uk-grid data-netlify="true" name="Contact Form" method="POST" data-netlify-recaptcha="true">
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" type="text" placeholder="Name" name="name" required>
                        </div>
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" type="text" placeholder="Email" name="email" required>
                        </div>
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" type="text" placeholder="Subject" name="subject">
                        </div>
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" type="tel" placeholder="phone" name="phone" required>
                        </div>
                        <div class="uk-width-1-1">
                            <textarea name="message" id="" cols="30" rows="8" class="uk-textarea" placeholder="Your message" required></textarea>
                        </div>
                        <div class="uk-width-1-1">
                            <button class="uk-button uk-button-primary">Submit Message</button>
                        </div>
                        <div class="uk-width-1-1">
                            <div data-netlify-recaptcha="true" required></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}